{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    backoff,
    gproc,
    cache,
    {riakc, {
        git,
        "https://github.com/basho/riak-erlang-client.git",
        {tag, "3.0.13"}
    }},
    {riak_pool,
        {git, "https://github.com/leapsight/riak_pool.git", {tag, "0.3.2"}}
    },
    telemetry,
    {ksuid,
        {git, "https://github.com/leapsight/ksuid.git", {branch, "master"}}
    },
    {app_config,
        {git, "https://github.com/leapsight/app_config.git", {branch, "master"}}
    }
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [riak_pool, gproc, cache, backoff, app_config, riakc, reliable]}
]}.

{ct_opts, [
    {sys_config, ["config/sys.config"]}
]}.

{dialyzer_base_plt_apps, [
  kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto
]}.
{xref_checks, [undefined_function_calls]}.
{xref_ignores, [
  eredis,
  jsx,
  {partisan_peer_discovery_agent, format_status, 2}
]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.


{profiles, [
    {test, [
        {deps, [
            meck,
            proper,
            {eqwalizer_support,
                {
                  git_subdir,
                  "https://github.com/whatsapp/eqwalizer.git",
                  {branch, "main"},
                  "eqwalizer_support"
                }
            }
        ]},
        {ct_opts, [
            {sys_config, ["config/sys.config"]}
        ]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]}
    ]}
]}.


{project_plugins, [
    rebar3_proper,
    rebar3_ex_doc,
    rebar3_hex,
    {eqwalizer_rebar3,
      {
        git_subdir,
        "https://github.com/whatsapp/eqwalizer.git",
        {branch, "main"},
        "eqwalizer_rebar3"
      }
    }
]}.


{hex, [
  {doc, #{provider => ex_doc}}
]}.


{ex_doc, [
  {name, "Reliable"},
  {source_url, <<"https://github.com/leapsight/reliable">>},
  {extras, [
    <<"README.md">>,
    <<"LICENSE">>,
    <<"CHANGELOG.md">>,
    <<"CODE_OF_CONDUCT.md">>
  ]},
  {main, <<"README.md">>},
  {extra_section, "Pages"},
  {api_reference, true}
]}.
