{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    {ksuid,
        {git, "https://gitlab.com/leapsight/ksuid.git", {branch, "master"}}
    },
    {riakc,
        {git, "git://github.com/basho/riak-erlang-client.git", {branch, "develop"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [reliable]}
]}.

