{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, [
    backoff,
    {ksuid,
        {git, "https://gitlab.com/leapsight/ksuid.git", {branch, "master"}}
    },
    {app_config,
        {git, "https://gitlab.com/leapsight/app_config.git", {branch, "master"}}
    },
    {riakc,
        {git, "git://github.com/basho/riak-erlang-client.git", {branch, "develop"}}}
]}.

{shell, [
    {apps, [reliable]}
]}.


{profiles, [
    {docs, [
        {deps, [
            {edown,
                ".*",
                {git, "https://github.com/uwiger/edown.git", {branch, "master"}}
            }
        ]},
        {edoc_opts, [
            {doclet, edown_doclet},
            {top_level_readme, {
                "./DOCS.md",
                "https://gitlab.com/leapsight/babel"
            }}
        ]}
    ]},
    {test, [
        {deps, [meck, proper]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]}
    ]}
]}.