[
    {reliable, [
        {backend, reliable_riak_store_backend},
        {riak_host, "127.0.0.1"},
        {riak_port, 8087},
        {riak_pool, #{
            min_size => 3,
            max_size => 10
        }},
        {instances, [
            <<"babel_test-0">>
        ]},
        {instance_name, <<"babel_test-0">>},
        {number_of_partitions, 3}
    ]}
].