[
    {reliable, [
        {backend, reliable_riak_store_backend},
        {riak_host, "127.0.0.1"},
        {riak_port, 8087},
        {riak_pool, #{
            min_size => 3,
            max_size => 10
        }},
        {instances, [
            <<"babel_test-0">>
        ]},
        {instance_name, <<"babel_test-0">>},
        {number_of_partitions, 3},
        {local_queue, #{
            enabled => false,
            data_dir => ".data/"
        }}
    ]},
    {kernel, [
        {logger_level, debug},
        {logger, [
            {handler, default, logger_std_h, #{
                formatter => {logger_formatter, #{
                    legacy_header => false,
                    single_line => true,
                    %% term_depth => 50,
                    %% time_designator => "T",
                    %% time_offset => 0,
                    template => [
                        "\n=== when=", time,
                        " level=", level,
                        {pid,[" pid=",pid],[]},
                        " at=", mfa, ":", line, " ",
                        {otel_trace_id, ["trace_id=", otel_trace_id, " "], []},
                        {otel_span_id, ["span_id=", otel_span_id, " "], []},
                        msg,
                        "\n"
                    ]
                }},
                filter_default => stop,
                filters => [
                    {remote_gl,
                        {fun logger_filters:remote_gl/2, stop}
                    },
                    {no_domain,
                        {fun logger_filters:domain/2,{log,undefined,[]}}
                    },
                    {domain,
                        {fun logger_filters:domain/2, {stop, equal, [sasl]}}
                    },
                    {domain,
                        {fun logger_filters:domain/2, {log, super, [otp]}}
                    }
                ]
            }}
    ]}
].